---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.astro'
import HomeServices from '@/components/HomeServices.astro';
import ChooseUs from '@/components/ChooseUs.astro';
import Social from '@/components/Social.astro';
import Footer from '@/components/Footer.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<HomeServices />
		<ChooseUs />
		<Social />
	</main>
	<Footer />
</Layout>