---
import type { ImageMetadata } from 'astro';
import {layout_1, layout_2} from '@/data/newsData.json'

import Layout from '@/layouts/Layout.astro'
import HeroNews from '@/components/HeroNews.astro'
import New from '@/components/New.astro'
import New_2 from '@/components/New_2.astro'
import Footer from '@/components/Footer_2.astro'


const images = import.meta.glob<{default: ImageMetadata}>('/src/assets/images/news-*.{jpg,png}')

---

<Layout
  title="Noticias | Excellentia Consulting"
  description='Asesoría Contable y Financiera en Colombia'
  route="/news"
  ogTitle='¡Mantente actualizado con las noticias más importantes del mundo económico!'
  ogImage='/Logo_H_ligth.png'
  imgAlt='Trabajamos alineados y respondemos con agilidad a los requerimientos de tu modelo de negocio'
>
  <HeroNews />
  {layout_1.map((article) => (
    <New article={article} image={images[article.image]} />
  ))}
  {layout_2.map((article) => (
    <New_2 article={article} image={images[article.image]} />
  ))}
  <div class="grid gap-3 place-items-center px-2 py-10 border-t-2 border-dark md:px-10 md:py-20 bg-light">
    <h3 class="text-center font-Grotesk text-5xl text-dark">¿Porque Excellentia Consulting?</h3>
    <p class="text-center max-w-3xl text-slate-600">Conoce la manera en que podemos proporcionarte la tranquilidad y confianza necesarias para centrarte en el crecimiento y el éxito de tu empresa.</p>
  </div>
  <Footer />
</Layout>