<section class="grid place-items-center gap-10 p-5 sm:p-10 lg:p-20">
  <div class="border-accent border-[1px] w-20" />
  <h2 class="font-Grotesk text-3xl text-center lg:text-5xl">¿Porque Excellentia Consulting?</h2>
  <p class="font-Roboto text-center text-lg lg:text-xl sm:max-w-lg" >Conoce la manera en que podemos proporcionarte la tranquilidad y confianza necesarias para centrarte en el crecimiento y el éxito de tu empresa.</p>
  <div class="font-Roboto lg:text-lg text-accent text-center leading-tight grid gap-5 lg:grid-cols-2 lg:text-justify lg:gap-10">
    <p>Confía en nuestra experiencia y conocimientos. Nuestro equipo de contadores públicos certificados está dedicado a brindarte soluciones contables confiables y precisas. Desde la gestión de nóminas hasta la presentación de impuestos, auditorías y más; estamos aquí para asegurarnos de que tus necesidades financieras estén en manos expertas, profesionales avalados por la junta central de contadores.</p>
    <p>Libérate del peso de las tareas administrativas y enfoca tu energía en hacer crecer tu negocio. Con nuestro servicio de Outsourcing contable, puedes dejar atrás las tediosas responsa- bilidades contables y administrativas. Deja que nuestro equipo se encargue de los números mientras tú te concentras en alcanzar tus objetivos empresariales.</p>
  </div>
</section>