---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components'

import LogoFooter from '@/assets/logo/Logo_Ligth.png'
import Social from '@/components/Social.astro'
---
<footer class="w-full h-fit grid place-items-center gap-10 font-Roboto text-center px-5 py-10 sm:p-10 border-t-[1px] border-light md:px-16 lg:px-20">
  <Social type="small"/>
  <div class="grid place-items-center gap-5 sm:gap-20 sm:grid-cols-2 w-full">
    <div class="w-fit gap-5 grid md:place-self-start">
      <Image 
      src={LogoFooter}
      alt={'Asesoria Contable'}
      height={60}
      class='object-contain w-auto h-14'
      />
      <div class="text-start">
        <p >Excellentia Consulting S.A.S</p>
        <p >NIT: 901822463</p>
      </div>
    
      <div class="text-start">
        <p >Dirección principal: AK 19 No. 37-20</p>
        <p >Bogotá - Colombia</p>
      </div>
    </div>
    
    <div class="text-sm grid sm:gap-2 place-self-end">
      <a title="Envia un mail" class="p-1 sm:py-2 flex items-center" href="mailto:gerencia@excellentiaconsultingbpo.com">
        <Icon name={'tabler:mail'} class="w-10 h-8 hidden sm:block" />
        gerencia@excellentiaconsultingbpo.com
      </a>
      <a title="Envia un mail" class="p-1 sm:py-2 flex items-center justify-center" href="mailto:contabilidad@excellentiaconsultingbpo.com">
        <Icon name={'tabler:mail'} class="w-10 h-8 hidden sm:block" />
        contabilidad@excellentiaconsultingbpo.com
      </a>
    </div>
  </div>
  <small class="text-accent">© Copyright 2024 | Diseño y Desarrollo CaperAsDev - Todos los derechos reservados</small>
</footer>