---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

import Logo from '@/assets/logo/Logo_Ligth.png'
import NavTab from '@/components/NavTab.astro'

import {services} from '@/data/servicesData.json'
import {layout_1, layout_2} from '@/data/newsData.json'

const idsNews = [...layout_1, ...layout_2].map(article => ({id: article.id, title: article.title, link: "news"}))

const serviceItems = services.map(article => ({id: article.id, title: article.title, link: "services"}))
---

<header class="w-full h-fit grid place-items-center bg-dark font-Roboto">
  <div class="px-2 sm:p-4 md:px-10 lg:px-16 sm:w-full sm:grid sm:place-items-center lg:flex lg:justify-between">
    <picture class="w-full max-w-sm h-fit max-h-28 p-4" >
      <Image
      class='object-contain h-auto w-full overflow-hidden'
      src={Logo}
      alt="Exellentia Consulting Accounting, taxes and Legal Services"
      height={80}
      loading="eager"
      />
    </picture>
    <div class="hidden lg:grid">
      <div class="flex items-center gap-2 w-full p-2 justify-start" >
        <Icon name="tabler:phone-call" class='w-10 h-10 border-2 rounded-full p-1 text-accent border-accent' />
        <div>
          <a title="Contactenos via telefono" href="tel:+573028565231">Celular: +57 (302) 8565-231</a>
          <p class="text-accent" >CONTADOR EN LINEA</p>
        </div>
      </div>
      <div class="flex items-center gap-2 w-full p-2 justify-start flex-wrap" >
        <Icon name="tabler:mail" class='w-10 h-10 border-2 rounded-full p-1 text-accent border-accent' />
        <div>
          <a title="Contactenos via Correo" href="mailto:contabilidad@excellentiaconsultingbpo.com" class="text-sm">contabilidad@excellentiaconsultingbpo.com</a>
          <p class="text-accent" >ENVÍA UN MENSAJE</p>
        </div>
      </div>
    </div>
  </div>
  
</header>
<div class="w-full h-fit grid place-items-center sticky top-0 right-0 z-20 bg-dark font-Roboto">
  <navbar class="border-y-2 w-full grid place-items-center relative lg:justify-end lg:px-16">
    <ul class="flex justify-evenly w-full items-center p-2 px-0 lg:gap-5 lg:mr-5">
        <li>
          <a
            href='/'
            class="block p-2 hover:outline-2 focus:outline-2 focus:outline-accent rounded-md text-accent"
          >Inicio</a>
        </li>  
        <NavTab list={{
          dataAtt: "Servicios",
          items: serviceItems
        }} />
        <NavTab list={{
          dataAtt: "Noticias",
          items: idsNews
        }} /> 
        <li>
          <a
            href='/news/#compromiso'
            class="p-2 hover:outline-2 focus:outline-2 focus:outline-accent rounded-md text-accent text-sm text-center inline-flex w-min sm:text-base sm:text-nowrap"
          >Compromiso Social</a>
        </li>
    </ul>
  </navbar>
  <details class="w-full sm:max-w-sm text-center h-fit relative border-b-[1px] lg:hidden">
    <summary data-summary class="m-2" >Contactenos</summary>
    <div data-container class="contact absolute backdrop-blur-sm sm:grid sm:place-items-center sm:w-full">
      <div class="flex items-center gap-2 w-full p-2 justify-center border-b-[1px]" >
        <Icon name="tabler:phone-call" class='w-10 h-10 border-2 rounded-full p-1 text-accent border-accent' />
        <div>
          <a href="tel:+573028565231">Celular: +57 (302) 8565-231</a>
          <p class="text-accent" >CONTADOR EN LINEA</p>
        </div>
      </div>
      <div class="flex items-center gap-2 w-full p-2 justify-center flex-wrap border-b-[1px]" >
        <Icon name="tabler:mail" class='w-10 h-10 border-2 rounded-full p-1 text-accent border-accent' />
        <div>
          <a href="mailto:contabilidad@excellentiaconsultingbpo.com" class="text-sm">contabilidad@excellentiaconsultingbpo.com</a>
          <p class="text-accent" >ENVÍA UN MENSAJE</p>
        </div>
      </div>
    </div>
  </details>
</div>

<style >
  .contact {
    background-color: #132D4650
  }
</style>

<script>
  const summaries= document.querySelectorAll('[data-summary]')
  const links= document.querySelectorAll('[data-container] a')

  const newFocus = (focusBefore: HTMLDetailsElement | null)=> {
    const focus = document.activeElement
    const closestDetail = focus?.closest('details')
    if(focusBefore !== closestDetail && focusBefore){
      focusBefore.open = false
    }
  }

  const focusableBlurEvent = (elem: Element)=> {
    elem.addEventListener('blur',()=> {
      setTimeout(()=> {
        newFocus(elem.closest('details'))
      }, 100)
    } )
  }
  
  summaries.forEach(focusableBlurEvent)
  links.forEach(focusableBlurEvent)
  
</script>