---
import { Icon } from 'astro-icon/components'

interface Props {
  type?: string
}

const { type } =  Astro.props
---

<section class={`flex justify-center gap-10 text-dark h-fit ${type !== 'small'? 'bg-white py-5 w-full' : 'text-light border-b-[1px] border-accent py-2 w-fit sm:justify-self-end' }`}>
  <a title="WhatsApp" href="https://web.whatsapp.com/send?phone=573028565231" aria-label="link a whatsApp" target="_blank">
    <Icon class="w-8 h-8" name="tabler:brand-whatsapp" />
  </a>
  <a title="Instagram" href="https://www.instagram.com/" aria-label="link a Instagram" target="_blank">
    <Icon class="w-8 h-8" name="tabler:brand-instagram" />
  </a>
  <a title="Linkedin" href="https://www.linkedin.com/" aria-label="link a Linkedin" target="_blank">
    <Icon class="w-8 h-8" name="tabler:brand-linkedin" />
  </a>
</section>