---
import { Icon } from 'astro-icon/components'
---

<section class="flex justify-center gap-10 text-dark w-full h-fit py-5 bg-white">
  <a href="" aria-label="link to whatsApp" target="_blank">
    <Icon class="w-8 h-8" name="tabler:brand-whatsapp" />
  </a>
  <a href="" aria-label="link to Instagram" target="_blank">
    <Icon class="w-8 h-8" name="tabler:brand-instagram" />
  </a>
  <a href="" aria-label="link to Linkedin" target="_blank">
    <Icon class="w-8 h-8" name="tabler:brand-linkedin" />
  </a>
</section>