---
import Header from '@/components/Header.astro';
import Whats from '@/components/WhAppButton.astro';
import { SEO } from 'astro-seo'

interface Props {
	title: string;
	description: string;
	ogImage: string;
	route:string;
	ogTitle: string;
	imgAlt: string;
}

const { title, description, ogImage, route, ogTitle, imgAlt } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<SEO 
			{title}
			{description}
			canonical={new URL(route, import.meta.env.SITE).href}
			titleDefault='Excellentia Consulting'
			openGraph={{
				basic: {
					title: ogTitle,
					type: 'website',
					image: ogImage
				},
				image: {
					alt: imgAlt
				}
			}}
		/>
	</head>
	<body class="bg-dark relative">
		<Whats 
			number='+57 (302) 8565-231'
		/>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
	
	@font-face {
		font-family: 'Grotesk';
		font-style: normal;
		font-weight: 400 ;
		font-display: swap ;
		src: url('/fonts/AkzidenzGroteskBQ-Cnd.woff') format('woff');
	}

	@font-face {
		font-family: 'Grotesk';
		font-style: normal;
		font-weight: 700 ;
		font-display: swap ;
		src: url('/fonts/AkzidenzGroteskBQ-BdCnd_1.woff') format('woff');
	}

	@font-face {
		font-family: 'Grotesk';
		font-style: normal;
		font-weight: 300 ;
		font-display: swap ;
		src: url('/fonts/AkzidenzGroteskBQ-LigCnd.woff') format('woff');
	}
	:root {
		--light: #F4F4F4;
		--dark: #132D46;
		--accent: #D9A043;
		--gradient-dark: #132d467b;
	}
	*{
		box-sizing: border-box;
	}
	a{
		outline-color: var(--accent);
	}
	body {
		color: white
	}
</style>
