---
import Header from '@/components/Header.astro';
import Whats from '@/components/WhAppButton.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-dark relative">
		<Whats 
			number='+57 (302) 8565-231'
		/>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
	
	@font-face {
		font-family: 'Grotesk';
		font-style: normal;
		font-weight: 400 ;
		font-display: swap ;
		src: url('/fonts/AkzidenzGroteskBQ-Cnd.woff') format('woff');
	}

	@font-face {
		font-family: 'Grotesk';
		font-style: normal;
		font-weight: 700 ;
		font-display: swap ;
		src: url('/fonts/AkzidenzGroteskBQ-BdCnd_1.woff') format('woff');
	}

	@font-face {
		font-family: 'Grotesk';
		font-style: normal;
		font-weight: 300 ;
		font-display: swap ;
		src: url('/fonts/AkzidenzGroteskBQ-LigCnd.woff') format('woff');
	}
	:root {
		--light: #F4F4F4;
		--dark: #132D46;
		--accent: #D9A043;
		--gradient-dark: #132d467b;
	}
	*{
		box-sizing: border-box;
	}
	a{
		outline-color: var(--accent);
	}
	body {
		color: white
	}
</style>
